<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br>
<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://thumbs.dreamstime.com/b/inicio-de-sesi%C3%B3n-contrase%C3%B1a-icono-c%C3%B3digo-seguridad-hermoso-dise%C3%B1o-y-acceso-completo-editable-para-proyectos-comerciales-medios-166831987.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <!--<form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="usuario">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="contraseña">
      <input type="submit" class="fadeIn fourth" value="Iniciar Sesion">
    </form>-->
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="00">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="00">
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="00">
        </div>
      </div>
      <br>
      <input type="submit" class="fadeIn fourth" value="Validar">
      
    </form>

  </div>
</div>